body
{
	//background-color: blue;
}

.tweet
{
	background-color: white;
	margin:10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.tweet p
{
	padding:0;
	margin:0;
}

.tweet hr
{
	border: 0; 
	height: 0; 
	border-top: 1px solid rgba(0, 0, 0, 0.1); 
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tweet a .username
{
	font-weight: bold;
}

.white-popup {
  position: fixed;
  background: #FFF;
  border-style: solid;
  border-width: 1px;
  padding: 20px;

  width: 500px;
  left: 50%;
  margin-left: -250px;

  height:90%;

  z-index: 100;
}

.mfp-preloader
{
	display: none;
}
