h1, h2, h3, h4, h5, h6
{
	margin:10px;
}

#welcome
{
	height: 75px;
	top:0;
	left:0;

	width: 100%;
}

.topBanner
{
	text-align: center;

	position: fixed;
	background-color:white;

	border-bottom: 1px solid #ccc;
	box-shadow: 0 4px 6px -6px black;
}

#feed
{
	margin-top: 85px;
}

.postTime
{
	font-size: 12px;
	color: gray;
}

.tweet
{
	background-color: white;
	margin:10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.tweet p
{
	padding:0;
	margin:0;
}

.tweet hr
{
	border: 0; 
	height: 0; 
	border-top: 1px solid rgba(0, 0, 0, 0.1); 
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.username
{
	font-weight: bold;
	text-decoration: none;
	color: black;

	top: 0;
	left:0;

  height:25px;
  margin-top:9px;
  padding-top:10px;
  width: 540px;
  left: 50%;
  margin-left: -249px;
}

.white-popup {
  position: fixed;
  background: #FFF;
  border-style: solid;
  border-width: 1px;
  padding: 20px;

  width: 500px;
  left: 50%;
  margin-left: -250px;

  height:90%;

  z-index: 100;
  overflow-y:auto
}

.mfp-preloader
{
	display: none;
}

.closeUser
{
	position: fixed;
	left: 50%;
	margin-left: 250px;
}
